

li {
    list-style: none;
    margin: 0 10px; /* Adjust margin as needed */
}
.nav-links {
    display: flex;
    position: relative;
    top: -50px;
    right: -678px;
    padding: 0;
}

li {
    list-style: none;
    justify-content: space-between;
    top: 0;
    right: 300px;
    margin: .5em;
}
.main{
    display: flex;
    padding: 0;
    height: 200px;
    width: 500px;
    align-items: start ;
    flex-direction: column;
}

.sub-section{
    display: flex;
    padding: 0;
    height: 200px;
    width: 300px;
    align-items: start ;
    flex-direction: column;
    position: relative;
    right: -600px;
    bottom: 200px;
}
@media only screen and (max-width: 400px) {
    .alert-info{
        flex-direction: column;

        right: -100;
        top: 10px;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        right: 0; /* Adjust as needed */
        top: 50px;
    }
    li {
        margin: 10px 0; /
    }
    h1{
        position:absolute;
        right: 115px;
        top: 20px;

    }
    img{
        position:absolute;
        right: 0;
        top: 270px;
        max-width: 400px;
        height: auto;
    }
    .main{
        position:absolute;
        right: 30px;
        top: 460px;
        max-width: 300px;
        height: auto;
    }

    .sub-section{
        position:absolute;
        right: 30px;
        top: 700px;
        max-width: 300px;
        height: auto;
    }
    footer{
        position:absolute;
        right: 160px;
        top: 940px;
    }
}
