.page-wrapper {
    position: relative;
    width: 100%;
}

.header-img {
    /*position: absolute;*/
    width: 100%;
}

.content-wrapper{
    flex-wrap: wrap;
    align-items: center;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 4%;
    right: 47%;
}

li {
    list-style: none;
    justify-content: space-between;
    top: 0;
    right: 300px;
    margin: .5em;
}
    .main{
        display: flex;
        padding: 0px;
        height: 200px;
        width: 500px;
        align-items: start ;
        flex-direction: column;
        left: 2%;
        bottom: 50%;
    }

    .sub-section{
        display: flex;
        padding: 0;
        height: 200px;
        width: 300px;
        align-items: start ;
        flex-direction: column;
        position: absolute;
        right: 48%;
        bottom: 5%;
    }

    footer {
        position: absolute;
        left: 1%;
        bottom: 2%;
    }


